*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif
}

.generalDiv{
  padding-bottom: 40px;
}

.linkMy{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#titKingdom{
  font-size: 27px;
}
.menu_options > li{
  /* margin-left: 5px; */
}

.Animate{
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards
}

@keyframes animeLeft{
  to{
    transform: initial;
    opacity: initial;
  }
}