*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto", sans-serif
}

.generalDiv{
  padding-bottom: 40px;
}

.linkMy{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#titKingdom{
  font-size: 27px;
}
.menu_options > li{
  /* margin-left: 5px; */
}